body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  header {
    text-align: center;
  }
  
  main {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357ae8;
  }
  
  p {
    font-size: 14px;
    text-align: center;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  
  footer a {
    color: #3897f0;
  }

  .facebook-logo{
    width: 16px;
    margin-right: 8px;
  }
 